*{
    margin: 0%;
    padding: 0%;
    

}
nav{
    background-color: aqua;
    box-shadow: 0 0 10px rgb(0, 0, 10);
    padding: 3rem;

}
nav a{
    font: 600 1.3rem cursive;
    color: rgb(37,105 , 208);
    text-decoration: none;
    margin:0 1rem;
}